<footer>
  <div class="footer-container container">
    <p class="copyright">Copyright xiaofanblog.net.All Rights Reserved. &nbsp;&nbsp;ICP备案：
      <a href="https://beian.miit.gov.cn/" target="_blank">
        陇ICP备2021001848号-1</a>
      <a class="beian-link" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=62010302001249"
        target="_blank">
        <img class="beian-icon" src="/cn/images/shared/beian-icon.png">
        甘公网安备 62010302001249号</a>
    </p>
  </div>
</footer>