<header>
  <div class="header-container container">
    <a class="logo" href="/"></a>
    <div class="menu-group">
      <div class="menu-item">
        <a class="item-title-group instructions-btn">
          <h2 class="text">使用说明</h2>
          <div class="active-line"></div>
        </a>
      </div>
      <div class="menu-item">
        <a class="item-title-group">
          <h2 class="text">GitHub</h2>
          <div class="active-line"></div>
        </a>
      </div>
      <a class="back-btn" href="http://xiaofanblog.net" target="_blank">go xiaofanblog.net</a>
    </div>
  </div>
</header>